In [1]:
import pandas as pd
import json
import os

In [52]:
# files_names = os.listdir('ALGORITM/')

In [28]:
# result = {}
# for file_name in files_names:
#     with open(f'ALGORITM/{file_name}', encoding='utf-8') as file:
#         kit = json.load(file)
#     kit_id = file_name.split('.')[0].split('_')[-1]
#     boxes = kit['data_result']['boxes']
#     for box in boxes:
#         result['kit_id'] = result.get('kit_id', []) + [kit_id]
#         result['box_id'] = result.get('box_id', []) + [box['id']]
#         result['box_width'] = result.get('box_width', []) + [box['size']['width']]
#         result['box_height'] = result.get('box_height', []) + [box['size']['height']]
#         result['box_length'] = result.get('box_length', []) + [box['size']['length']]
#         result['box_stacking'] = result.get('box_stacking', []) + [box['stacking']]
#         result['box_turnover'] = result.get('box_turnover', []) + [box['turnover']]
#         result['cargo_space_width'] = result.get('cargo_space_width', []) + [kit['data_result']['cargo_space']['loading_size']['width']]
#         result['cargo_space_height'] = result.get('cargo_space_height', []) + [kit['data_result']['cargo_space']['loading_size']['height']]
#         result['cargo_space_length'] = result.get('cargo_space_length', []) + [kit['data_result']['cargo_space']['loading_size']['length']]
#         result['cargo_space_density_percent'] = result.get('cargo_space_density_percent', []) + [kit['data_result']['cargo_space']['calculation_info']['density_percent']]
#         result['cargo_space_filling_space_percent'] = result.get('cargo_space_filling_space_percent', []) + [kit['data_result']['cargo_space']['calculation_info']['filling_space_percent']]

In [29]:
# with open('kits.json', 'w', encoding='utf-8') as file:
#     json.dump(result, file, ensure_ascii=False, indent=4)

In [3]:
# with open('result.json',encoding='utf-8') as file:
#     result = json.load(file)

In [30]:
with open('kits.json',encoding='utf-8') as file:
    kits = json.load(file)

In [32]:
df = pd.DataFrame(kits)

df.head()

,kit_id,box_id,box_width,box_height,box_length,box_stacking,box_turnover,cargo_space_width,cargo_space_height,cargo_space_length,cargo_space_density_percent,cargo_space_filling_space_percent
0,11834,475,196.0,311.0,324.0,True,True,800.0,2000.0,1200.0,81.76416,81.72327
1,11834,485,297.0,279.0,387.0,True,True,800.0,2000.0,1200.0,81.76416,81.72327
2,11834,484,297.0,279.0,387.0,True,True,800.0,2000.0,1200.0,81.76416,81.72327
3,11834,12,57.0,117.0,182.0,True,True,800.0,2000.0,1200.0,81.76416,81.72327
4,11834,63,96.0,194.0,141.0,True,True,800.0,2000.0,1200.0,81.76416,81.72327

In [51]:
df.kit_id.unique()

array(['11834', '12729', '13579', '13580', '14208', '14457', '14770',
       '14771', '14772', '14775', '14781', '14784', '14786', '14787',
       '14793', '14798', '14803', '14806', '14808', '14809', '14810',
       '14811', '14836', '14860', '14864', '14870', '14905', '14933',
       '14941', '14942', '14946', '14947', '14948', '14949', '14950',
       '14951', '14952', '14955', '14957', '14974', '14975', '14993',
       '15024', '15044', '15045', '15046', '15073', '15077', '15078',
       '15079', '15080', '15082', '15083', '15129', '15134', '15135',
       '15140', '15159', '15160', '15161', '15173', '15174', '15183',
       '15186', '15190', '15198', '15211', '15212', '15215', '15216',
       '15217', '15234', '15253', '15254', '15255', '15275', '15277',
       '15297', '15313', '15316', '15317', '15318', '15323', '15324',
       '15325', '15326', '15327', '15328', '15335', '15340', '15341',
       '15342', '15346', '15349', '15355', '15361', '15363', '15364',
       '15372', '15374', '15380', '15386', '15388', '15389', '15391',
       '15398', '15399', '15400', '15402', '15403', '15404', '15405',
       '15406', '15407', '15408', '15411', '15412', '15421', '15428',
       '15429', '15432', '15433', '15435', '15437', '15440', '15442',
       '15443', '15444', '15445', '15449', '15450', '15451', '15452',
       '15453', '15454', '15455', '15456', '15457', '15458', '15464',
       '15466', '15467', '15469', '15481', '15482', '15483', '15485',
       '15486', '15487', '15489', '15490', '15503', '15504', '15508',
       '15509', '15510', '15515', '15518', '15519', '15523', '15529',
       '15530', '15535', '15536', '15537', '15543', '15545', '15547',
       '15558', '15567', '15568', '15569', '15571', '15573', '15575',
       '15581', '15585', '15592', '15593', '15598', '15600', '15602',
       '15603', '15605', '15611', '15612', '15613', '15620', '15621',
       '15622', '15623', '15624', '15625', '15628', '15660', '15720',
       '15762', '15785', '15792', '15796', '15798', '15823', '15828',
       '15832', '15834', '15915', '15916', '15923', '15927', '15929',
       '15939', '15941', '15948', '15950', '15967', '15968', '15973',
       '15975', '15977', '15978', '15980', '15983', '15988', '15999',
       '16003', '16004', '16011', '16014', '16017', '16018', '16019',
       '16026', '16036', '16037', '16043', '16047', '16048', '16050',
       '16060', '16066', '16067', '16068', '16069', '16070', '16072',
       '16073', '16074', '16079', '16088', '16092', '16098', '16106',
       '16124', '16130', '16131', '16137', '16140', '16143', '16144',
       '16146', '16148', '16159', '16162', '16166', '16174', '16176',
       '16178', '16179', '16180', '16181', '16183', '16184', '16218',
       '16220', '16222', '16244', '16245', '16248', '16249', '16251',
       '16258', '16259', '16304', '16305', '16306', '16312', '16315',
       '16317', '16321', '16324', '16325', '16326', '16327', '16328',
       '16329', '16330', '16331', '16332', '16336', '16337', '16338',
       '16341', '16344', '16345', '16357', '16358', '16362', '16380',
       '16381', '16382', '16383', '16394', '16395', '16396', '16403',
       '16404', '16410', '16422', '16433', '16437', '16441', '16480',
       '16494', '16495', '16496', '16505', '16506', '16510', '16514',
       '16516', '16535', '16536', '16541', '16542', '16544', '16545',
       '16546', '16547', '16552', '16554', '16555', '16560', '16569',
       '16570', '16572', '16574', '16575', '16581', '16582', '16586',
       '16587', '16588', '16589', '16591', '16593', '16594', '16596',
       '16606', '16607', '16608', '16611', '16612', '16613', '16614',
       '16615', '16616', '16617', '16618', '16621', '16625', '16626',
       '16627', '16636', '16639', '16653', '16657', '16659', '16661',
       '16663', '16666', '16668', '16669', '16670', '16677', '16678',
       '16679', '16681', '16682', '16686', '16687', '16688', '16689',
       '16690', '16704', '16709', '16715', '16718', '16719', '16726',
       '16727', '16730', '16732', '16782', '16783', '16784', '16785',
       '16786', '16788', '16789', '16790', '16791', '16792', '16794',
       '16795', '16799', '16808', '16822', '16824', '16825', '16826',
       '16827', '16832', '16839', '16841', '16842', '16846', '16847',
       '16855', '16862', '16863', '16878', '16881', '16889', '16890',
       '16892', '16894', '16895', '16896', '16897', '16899', '16900',
       '16901', '16902', '16912', '16913', '16915', '16916', '16919',
       '16927', '16929', '16930', '16931', '16932', '16933', '16934',
       '16935', '16936', '16951', '16952', '16953', '16954', '16956',
       '16958', '16959', '16960', '16961', '16963', '16980', '16983',
       '16984', '16986', '16987', '16988', '16990', '16991', '16996',
       '17000', '17002', '17009', '17010', '17014', '17016', '17018',
       '17022', '17028', '17030', '17034', '17036', '17041', '17045',
       '17046', '17048', '17061', '17067', '17068', '17069', '17074',
       '17077', '17078', '17079', '17080', '17081', '17083', '17084',
       '17086', '17088', '17090', '17091', '17093', '17094', '17095',
       '17096', '17097', '17098', '17099', '17102', '17103', '17108',
       '17121', '17122', '17124', '17130', '17131', '17133', '17136',
       '17138', '17140', '17143', '17146', '17147', '17168', '17169',
       '17170', '17171', '17172', '17173', '17174', '17175', '17176',
       '17195', '17198', '17199', '17201', '17203', '17208', '17210',
       '17211', '17212', '17213', '17214', '17215', '17216', '17217',
       '17218', '17219', '17220', '17222', '17223', '17224', '17225',
       '17226', '17227', '17229', '17233', '17234', '17235', '17238',
       '17239', '17242', '17247', '17248', '17253', '17254', '17255',
       '17260', '17261', '17262', '17263', '17265', '17266', '17267',
       '17268', '17271', '17283', '17288', '17289', '17290', '17291',
       '17292', '17293', '17295', '17296', '17298', '17301', '17303',
       '17310', '17320', '17333', '17334', '17335', '17337', '17339',
       '17340', '17341', '17342', '17345', '17346', '17347', '17349',
       '17352', '17354', '17361', '17363', '17364', '17365', '17366',
       '17367', '17368', '17369', '17370', '17371', '17372', '17373',
       '17374', '17375', '17567', '17568', '17569'], dtype=object)

In [33]:
df.query('kit_id == "15408"').sort_values('box_id')

,kit_id,box_id,box_width,box_height,box_length,box_stacking,box_turnover,cargo_space_width,cargo_space_height,cargo_space_length,cargo_space_density_percent,cargo_space_filling_space_percent
15745,15408,0,500.0,670.0,900.0,True,True,2480.0,2860.0,13600.0,64.37381,40.51499
15744,15408,1,500.0,670.0,900.0,True,True,2480.0,2860.0,13600.0,64.37381,40.51499
15743,15408,2,500.0,670.0,900.0,True,True,2480.0,2860.0,13600.0,64.37381,40.51499
15751,15408,3,500.0,670.0,900.0,True,True,2480.0,2860.0,13600.0,64.37381,40.51499
15750,15408,4,500.0,670.0,900.0,True,True,2480.0,2860.0,13600.0,64.37381,40.51499
...,...,...,...,...,...,...,...,...,...,...,...,...
15735,15408,167,459.0,600.0,500.0,True,True,2480.0,2860.0,13600.0,64.37381,40.51499
15734,15408,168,459.0,600.0,500.0,True,True,2480.0,2860.0,13600.0,64.37381,40.51499
15733,15408,169,459.0,600.0,500.0,True,True,2480.0,2860.0,13600.0,64.37381,40.51499
15739,15408,170,459.0,600.0,500.0,True,True,2480.0,2860.0,13600.0,64.37381,40.51499
15738,15408,171,459.0,600.0,500.0,True,True,2480.0,2860.0,13600.0,64.37381,40.51499

In [37]:
df.query('box_id == 0').sort_values('kit_id')

,kit_id,box_id,box_width,box_height,box_length,box_stacking,box_turnover,cargo_space_width,cargo_space_height,cargo_space_length,cargo_space_density_percent,cargo_space_filling_space_percent
131,11834,0,108.0,146.0,159.0,True,True,800.0,2000.0,1200.0,81.76416,81.72327
305,13579,0,800.0,1550.0,1200.0,False,False,2500.0,2100.0,7500.0,94.44444,64.24381
322,13580,0,300.0,300.0,500.0,True,True,800.0,1650.0,1200.0,74.02778,67.29798
371,14208,0,800.0,1600.0,1200.0,False,False,2490.0,2590.0,13490.0,100.00000,58.26317
538,14457,0,175.0,130.0,2500.0,True,False,2480.0,2860.0,13600.0,92.20825,90.27382
...,...,...,...,...,...,...,...,...,...,...,...,...
74957,17374,0,800.0,2095.0,1200.0,False,False,2400.0,2400.0,13300.0,91.90237,76.74275
74978,17375,0,800.0,2095.0,1200.0,False,False,2400.0,2400.0,13300.0,97.00727,83.18305
74998,17567,0,100.0,100.0,100.0,True,True,2450.0,2350.0,7000.0,100.00000,0.00248
74999,17568,0,100.0,100.0,100.0,True,True,2450.0,2350.0,7000.0,100.00000,0.00496
75003,17569,0,100.0,100.0,100.0,True,True,2450.0,2350.0,7000.0,83.33333,0.02481

### Типы грузовых пространств

In [47]:
df.groupby(['cargo_space_width', 'cargo_space_height', 'cargo_space_length'], as_index=False)\
            ['cargo_space_density_percent'].count()\
            [['cargo_space_length', 'cargo_space_width', 'cargo_space_height']]\
            .sort_values('cargo_space_length').reset_index(drop=True)

    cargo_space_length  cargo_space_width  cargo_space_height
0                270.0              220.0               135.0
1                315.0              240.0               295.0
2                400.0              400.0               600.0
3                600.0              500.0               450.0
4               1100.0             1000.0              2330.0
..                 ...                ...                 ...
63             13600.0             2400.0              2650.0
64             13600.0             2480.0              2860.0
65             13600.0             2450.0              2450.0
66             13600.0             3800.0              4500.0
67             13620.0             2480.0              2700.0

[68 rows x 3 columns]

### Типы коробок

In [49]:
df.groupby(['box_width', 'box_height', 'box_length', 'box_stacking', 'box_turnover'], as_index=False)\
            ['cargo_space_density_percent'].count()\
            [['box_length', 'box_width', 'box_height', 'box_stacking', 'box_turnover']]\
            .sort_values('box_length').reset_index(drop=True)

      box_length  box_width  box_height  box_stacking  box_turnover
0           11.0       11.0        11.0          True          True
1           30.0      410.0      1760.0         False         False
2           35.0      820.0        35.0          True         False
3           40.0      400.0      1600.0         False         False
4           50.0      515.0      1815.0         False         False
...          ...        ...         ...           ...           ...
1740      9000.0      300.0       200.0          True          True
1741      9190.0     2370.0      2450.0          True         False
1742      9700.0     2290.0      2150.0          True          True
1743     10990.0     3430.0      3010.0         False         False
1744     11950.0     1100.0      1100.0         False         False

[1745 rows x 5 columns]